// ********************
//
// Base Colors
//
// ********************

$color-background: #fff;
$color-type: #222;

// ********************
//
// Brand Color Scheme
//
// ********************


//
// Heuristic Colors
//

$color-warning: #d2ab59;
$color-success: #5abd94;
$color-danger: #903d3d;
