<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tiller</title>
    <meta name="description" content="Steer your event to awesomeland">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="tillerApp">

    <div ng-controller="MainCtrl">
      <div ng-hide="user.isLoggedIn()">
        <h1>Tiller</h1>
        <a ng-href="#/signup">Sign Up</a>
        <a ng-href="#/login">Login</a>
      </div>

      <div ng-show="user.isLoggedIn()">
        <nav>
          <div>
            {{user.getUsername()}}
          </div>
          <div>
            <a href="#/" ng-click="user.logOutUser()">Logout</a>
          </div>
        </nav>

        <div>
          <h1> Event </h1>
          <label> Name </label>
          <input ng-model="name" type="text" name="some_name" value="">
          <label> Date </label>
          <input ng-model="date" type="date" name="some_name" value="">
          <label> Venue </label>
          <input ng-model="venue" type="text" name="some_name" value="">
          <label> Speaker </label>
          <input ng-model="speaker" type="text" name="some_name" value="">
          <button ng-click="event.setEventName(name);event.setEventDate(date);event.setEventVenue(venue);event.setEventSpeaker(speaker);event.createNewEvent()"> Create </button>

          <div class="event">
            <ul>
              <li ng-repeat="eventData in eventData track by $index" >
                {{eventData.name}}
                {{eventData.date}}
                {{eventData.venue}}
                {{eventData.speaker}}
                <p ng-click="event.removeEvent($index)"> delete </p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Add your site or application content here -->
      <div class="container" ng-view=""></div>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src="js/controllers/signup.js"></script>
    <script src="js/controllers/login.js"></script>
    <script src="js/services/user.js"></script>
    <script src="js/services/event.js"></script>

</body>
</html>
